<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uni_koeln.phil_fak.spinfo.javamobile.picman" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <!-- Allows an application to write to external storage. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Allows an app to access precise location from location sources such as GPS, cell towers, and Wi-Fi. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Allows applications to access information about networks. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows applications to open network sockets. -->
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PicManActivity"
            android:label="@string/title_activity_pic_man" >
        </activity>
        <activity
            android:name=".activity.PicDetailsActivity"
            android:label="@string/title_activity_pic_details"
            android:parentActivityName=".activity.PicManActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uni_koeln.phil_fak.spinfo.javamobile.picman.activity.PicManActivity" />
        </activity>
        <activity
            android:name=".activity.FullScreenActivity"
            android:label="@string/title_activity_full_screen"
            android:parentActivityName=".activity.PicManActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.uni_koeln.phil_fak.spinfo.javamobile.picman.activity.PicManActivity" />
        </activity>

    </application>

</manifest>
